[submodule "spl_upstream"]
	path = spl_upstream
	url = https://github.com/libertine-linux-clones/spl.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "zfs_upstream"]
	path = zfs_upstream
	url = https://github.com/libertine-linux-clones/zfs.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "upstream"]
	path = upstream
	url = https://kernel.googlesource.com/pub/scm/linux/kernel/git/stable/linux-stable.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "linux-patches"]
	path = linux-patches
	url = https://github.com/libertine-linux/linux-patches.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "linux-firmware"]
	path = linux-firmware
	url = https://kernel.googlesource.com/pub/scm/linux/kernel/git/firmware/linux-firmware.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
