[submodule "spl_upstream"]
	path = spl_upstream
	url = https://github.com/libertine-linux-clones/spl_upstream.git
	branch = master
[submodule "zfs_upstream"]
	path = zfs_upstream
	url = https://github.com/libertine-linux-clones/zfs_upstream.git
	branch = master
[submodule "upstream"]
	path = upstream
	url = https://kernel.googlesource.com/pub/scm/linux/kernel/git/stable/linux-stable.git
	branch = master
[submodule "linux-patches"]
	path = linux-patches
	url = https://github.com/libertine-linux/linux-patches.git
	branch = master
[submodule "linux-firmware"]
	path = linux-firmware
	url = https://kernel.googlesource.com/pub/scm/linux/kernel/git/firmware/linux-firmware.git
	branch = master
